<div class="container shadow my-5 px-5 py-4">
  <div class="grid_column-10">
    <div class="row d-inline">
      <div class="input-group">
        <div class="btn-group col-sm-4 col-md-2" style="background-color: #f5f5f5; margin-right: 8px">
          <button type="button" class="btn">Tổng tiền</button>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false"></button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/bills/sx/tongThapCao">Thấp - Cao</a>
            </li>
            <li>
              <a class="dropdown-item" href="/bills/sx/tongCaoThap">Cao - Thấp</a>
            </li>
          </ul>
        </div>
        <div class="btn-group col-sm-4 col-md-2" style="background-color: #f5f5f5; margin-right: 8px">
          <button type="button" class="btn">Thời gian</button>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false"></button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/bills/sx/tgMoi">Mới nhất</a>
            </li>
            <li>
              <a class="dropdown-item" href="/bills/sx/tgCu">Cũ nhất</a>
            </li>
          </ul>
        </div>
        <div class="btn-group col-sm-4 col-md-2" style="background-color: #f5f5f5; margin-right: 8px">
          <button type="button" class="btn">Trạng thái</button>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false"></button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/bills/status/0">đã bị hủy</a></li>
            <li><a class="dropdown-item" href="/bills/status/1">Đã đặt hàng, chờ xác nhận</a></li>
            <li><a class="dropdown-item" href="/bills/status/2">Đã xác nhận, đang xử lí</a></li>
            <li><a class="dropdown-item" href="/bills/status/3">Đang vận chuyển</a></li>
            <li><a class="dropdown-item" href="/bills/status/4">Giao hàng thành công</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <table class="table table-borderless table-striped table-hover table-response">
        <thead class="table-dark">
          <tr class="text-center">
            <th scope="col">Trạng thái</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Thời gian</th>
            <th scope="col">Giảm giá</th>
            <th scope="col">Người mua</th>
            <th scope="col">Thông tin nhận</th>
            <th scope="col">Chi tiết</th>
          </tr>
        </thead>
        <tbody>
          <% listBill.forEach((row)=> { %>
            <tr>
              <td>
                <% if ( row.status==1 ) { %>
                  <a href="/bills/changeStatus/<%= row._id  %>">
                    đã đặt hàng,<br />
                    chờ xác nhận
                  </a>
                  <% } else if ( row.status==2) {%>
                    <a href="/bills/changeStatus/<%= row._id  %>">
                      đã xác nhận,<br />
                      đang xử lí
                    </a>
                    <% } else if ( row.status==3) {%>
                      <a href="/bills/changeStatus/<%= row._id  %>"> đang vận chuyển </a>
                      <% } else if ( row.status==4) {%>
                        <a href="/bills/changeStatus/<%= row._id  %>">
                          giao hàng thành công
                        </a>
                        <% } else if ( row.status==0) {%>
                          <a href="/bills/changeStatus/<%= row._id  %>"> đã bị hủy </a>
                          <% } %>
              </td>
              <td>
                <%= row.real_price %>
              </td>
              <td>
                <%= row.create_at %>
              </td>
              <td>
                <!-- <%= row.id_discount.value %>   -->
              </td> 
              <td>
                <%= row.id_user.username %>
              </td>
              <td>
                <%= row.id_address.username %><br />
                  <%= row.id_address.phone %><br />
                    <%= row.id_address.location %>
              </td>
              <td>
                <a href="/bills/chitiet/<%= row._id  %>">
                  <%= row.detail.length %> sản phẩm
                </a>
              </td>
            </tr>

            <% }) %>
        </tbody>
      </table>
    </div>
    <div class="d-inline p-2">
      Đang xem:<%= soluong %>/<%= soluong %>
    </div>
  </div>
</div>