<table class="table table-borderless table-striped table-hover table-response">
  <thead class="table-dark">
    <tr class="text-center">
      <th>#</th>
      <th>Codename</th>
      <th>Value</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Detail</th>
      <th>Status</th>
      <th>Type</th>
      <th>Condition</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach(function(item,index){ %> 
    <% var modalId ="modalForUpdatingTask-"+item._id %>
    <tr
      class="text-center align-middle"
      data-bs-toggle="modal"
      data-bs-target="#<%= modalId %>"
    >
      <td><%= index + 1 %></td>
      <td><%= item.codename %></td>
      <td><%= item.value %></td>
      <td><%= item.start_date %></td>
      <td><%= item.end_date %></td>
      <td><%= item.detail %></td>
      <td><%= item.status %></td>
      <td><%= item.type %></td>
      <td><%= item.condition %></td>
    </tr>
    <!-- modal updating -->
    <%- include('./modal.ejs', {item, modalId}) %> <% }) %>
  </tbody>
</table>
