<div class="modal fade" id="<%= modalId %>" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-lg">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          <%= locals.item ? "Updating: " +item.name : "Adding" %>
        </h1>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- body -->
      <div class="modal-body">
        <form method="post" action="<%= locals.item ? " /books/"+item._id : "/books" %>">
          <div class="mb-3">
            <label for="bookInputName" class="form-label">Name *</label>
            <input name="name" value="<%= locals.item ?
            locals.item.name : "" %>" type="text" class="form-control" id="bookInputName" required />
          </div>
          <div class="mb-3">
            <label for="bookInputAuthor" class="form-label">Author *</label>
            <input name="author" value="<%= locals.item ?
            locals.item.author : "" %>" type="text" class="form-control" id="bookInputAuthor" required />
          </div>
          <div class="mb-3">
            <label for="bookInputIntroduction" class="form-label">Introduction *</label>
            <textarea name="introduction" value="<%= locals.item ?
            locals.item.introduction : "" %>" type="text" class="form-control" id="bookInputIntroduction" rows="3" required></textarea>
          </div>
          <div class="mb-3">
            <label for="bookInputPageNumber" class="form-label">Page number *</label>
            <input name="page_number" value="<%= locals.item ?
            locals.item.page_number : "" %>" type="number" class="form-control" id="bookInputPrice" min="1" required />
          </div>
          <div class="mb-3">
            <label for="bookInputPublisher" class="form-label">Publisher *</label>
            <input name="publisher" value="<%= locals.item ?
            locals.item.publisher : "" %>" type="text" class="form-control" id="bookInputPublisher" required />
          </div>
          <div class="mb-3">
            <label for="bookInputReleaseDate" class="form-label">Release Date *</label>
            <input name="release_date" value="<%= locals.item ?
            locals.item.release_date : "" %>" type="date" class="form-control" id="bookInputReleaseDate" required />
          </div>
          <div class="mb-3">
            <!-- TODO feature: get image by multer -->
            <!-- <label for="formFile" class="form-label">Image</label>
            <input name="image" class="form-control" type="file" id="formFile" accept="image/*" /> -->
            <label for="bookInputImage" class="form-label">Image *</label>
            <input name="image" value="<%= locals.item ?
            locals.item.image : "" %>" type="text" class="form-control" id="bookInputImage" required />
            <img src="<%= locals.item ? locals.item.image : "" %>" width="80px">
          </div>
          <div class="mb-3">
            <label for="bookInputOriginalPrice" class="form-label">Original Price *</label>
            <input name="original_price" value="<%= locals.item ?
            locals.item.original_price : "" %>" type="number" min="0" class="form-control" id="bookInputOriginalPrice" required />
          </div>
          <div class="mb-3">
            <label for="bookInputPrice" class="form-label">Price *</label>
            <input name="price" value="<%= locals.item ?
            locals.item.price : "" %>" type="number" min="0" class="form-control" id="bookInputPrice" required />
          </div>
          <div class="mb-3">
            <label for="bookInputStock" class="form-label">Stock *</label>
            <input name="stock" value="<%= locals.item ?
            locals.item.stock : "" %>" type="number" min="0" class="form-control" id="bookInputStock" required />
          </div>
          <div class="mb-3">
            <label for="bookInputVariation" class="form-label">Variation *</label>
            <div class="row input-row mb-1">
              <div class="col">
                <input name="language" type="text" class="form-control" placeholder="Language" aria-label="Language" required>
              </div>
              <div class="col">
                <input name="republish" type="text" class="form-control" placeholder="Republish" aria-label="Republish" required>
              </div>
              <div class="col-auto">
                <button class="btn btn-danger remove-input" onclick="removeInput(this)"><i class="fa-solid fa-minus"></i></button>
              </div>
            </div>
            <div class="row input-row mb-1">
              <div class="col">
                <input name="language" type="text" class="form-control" placeholder="Language" aria-label="Language" required>
              </div>
              <div class="col">
                <input name="republish" type="text" class="form-control" placeholder="Republish" aria-label="Republish" required>
              </div>
              <div class="col-auto">
                <button class="btn btn-danger remove-input" onclick="removeInput(this)"><i class="fa-solid fa-minus"></i></button>
              </div>
            </div>
            <button class="btn text-primary-emphasis" onclick="addInput()">Add more variations</button>
          </div>
          <div class="mb-3">
            <label for="bookInputPercentDiscount" class="form-label">Percent discount </label>
            <input name="percent_discount" value="<%= locals.item ?
            locals.item.percent_discount : "" %>" type="number" min="0" class="form-control" id="bookInputPercentDiscount" />
          </div>
          <div class="mb-3">
            <label for="bookInputCategory" class="form-label">Category *</label>
            <%- include('../partials/select.ejs',{selectId:"id_category", options, current: typeof item=="undefined"
              ? "" : item.id_category}) %>
          </div>
          <!-- <% if(locals.item){ %>
          <div class="card card-body">
            <button class="btn text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Danger section
            </button>
            <div class="collapse" id="collapseExample">
              <div class="d-flex justify-content-center mt-2">
                <button class="btn btn-light-subtle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Cancel
                </button>
                <a href="/books/<%= item._id %>" class="btn btn-danger">Delete</a>
              </div>
            </div>
          </div>
          <% } %> -->
          <!-- footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-light-subtle" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


<script>
  function addInput() {
    const inputContainer = document.getElementById('input-container');
    const inputRow = document.createElement('div');
    inputRow.classList.add('row', 'input-row');
    inputRow.innerHTML = `
              <div class="col">
                <input name="language" type="text" class="form-control" placeholder="Language" aria-label="Language" required>
              </div>
              <div class="col">
                <input name="republish" type="text" class="form-control" placeholder="Republish" aria-label="Republish" required>
              </div>
              <div class="col-auto">
                <button class="btn btn-danger remove-input" onclick="removeInput(this)"><i class="fa-solid fa-minus"></i></button>
              </div>
    `;
    inputContainer.appendChild(inputRow);
  }

  function removeInput(button) {
    const inputRow = button.closest('.input-row');
    inputRow.remove();
  }
</script>