<table class="table table-borderless table-striped table-hover table-response">
  <thead class="table-dark">
    <tr class="text-center">
      <th>#</th>
      <th>Ảnh minh họa</th>
      <th>Tên</th>
      <th>Giá nhập</th>
      <th>Giá bán</th>
      <th>Thể loại</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach(function(item,index){ %> <% var modalId
    ="modalForUpdatingTask-"+item._id %>
    <tr
      class="text-center align-middle"
      data-bs-toggle="modal"
      data-bs-target="#<%= modalId %>"
    >
      <td><%= index + 1 %></td>
      <td>
        <img loading="lazy" src="<%= item.image %>" width="80px" />
      </td>
      <td><%= item.name %></td>
      <td><%= item.original_price %></td>
      <td><%= item.price %></td>
      <td>
        <h5>
          <span class="badge text-bg-secondary"><%= item.id_category.name %></span>
        </h5>
      </td>
    </tr>
    <!-- modal updating -->
    <%- include('./modal.ejs', {item, modalId}) %> <% }) %>
  </tbody>
</table>
