<style>
  h6 a:hover {
    text-decoration: underline;
    color: black;
  }

  h6 a {
    text-decoration: none;
    color: gray;
  }
</style>
<div class="container">
  <h3 style="text-align: center; margin-bottom: 30px; margin-top: 30px">
    Thông tin tài khoản Admin
  </h3>
  <div style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    ">
    <h6 style="display: inline-block; margin: 0; margin-right: 100px; ">
      <a href="admin/dmk/<%= objAdmin._id%>">Đổi mật khẩu</a>
    </h6>
    <h6 style="display: inline-block; margin: 0;">
      <a href="admin/edit/<%= objAdmin._id%>" class="dmk">Sửa thông tin</a>
    </h6>
  </div>
  <div class="formss" style="width: 500px; margin: auto">
    <form method="post" action="">
      <fieldset disabled>
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" id="disabledTextInput" class="form-control" value="<%= objAdmin.username  %>" />
        </div>
        <div class="mb-3">
          <label class="form-label">SĐT</label>
          <input type="text" id="disabledTextInput" class="form-control" value="<%= objAdmin.phone  %>" />
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="text" id="disabledTextInput" class="form-control" value="<%= objAdmin.email  %>" />
        </div>
        <div class="mb-3">
          <label class="form-label">Giới tính</label>
          <input type="text" id="disabledTextInput" class="form-control" value="<%= objAdmin.gender  %>" />
        </div>

        <div class="mb-3">
          <label class="form-label">Họ tên</label>
          <input type="text" id="disabledTextInput" class="form-control" value="<%= objAdmin.fullname  %>" />
        </div>
      </fieldset disabled>
    </form>
  </div>
</div>