<div class="container">
  <h2 style="text-align: center; margin-bottom: 40px; margin-top: 30px">
    Thông tin tài khoản
  </h2>
  <div class="formss" style="width: 500px; margin: auto">
    <form method="post" action="">
      <fieldset disabled>
        <div class="mb-3">
          <label for="disabledTextInput" class="form-label">Username</label>
          <input
            type="text"
            id="disabledTextInput"
            class="form-control"
            value="<%= objUser.username  %>"
          />
        </div>
        <div class="mb-3">
          <label for="disabledTextInput" class="form-label">SĐT</label>
          <input
            type="text"
            id="disabledTextInput"
            class="form-control"
            value="<%= objUser.username  %>"
          />
        </div>
        <div class="mb-3">
          <label for="disabledTextInput" class="form-label">Email</label>
          <input
            type="text"
            id="disabledTextInput"
            class="form-control"
            value="<%= objUser.username  %>"
          />
        </div>
        <div class="mb-3">
          <label for="disabledTextInput" class="form-label">Giới tính</label>
          <input
            type="text"
            id="disabledTextInput"
            class="form-control"
            value="<%= objUser.username  %>"
          />
        </div>

        <div class="mb-3">
          <label for="disabledTextInput" class="form-label">Họ tên</label>
          <input
            type="text"
            id="disabledTextInput"
            class="form-control"
            value="<%= objUser.email  %>"
          />
        </div>
      </fieldset>
    </form>
  </div>
</div>
