<div class="container shadow my-5 px-5 py-4">
    <h2 style="text-align: center; margin-bottom: 40px; margin-top: 30px;">Sửa thông tin tài khoản</h2>
    <div style="margin: auto;">
        <h4>
            <%= msg %>
        </h4>
    </div>
    <div class="formss" style="width: 500px; margin: auto;">

        <form method="post" action="">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" name="user_name" class="form-control" value="<%= objAdmin.username  %>">
            </div>
            <div class="mb-3">
                <label class="form-label">SĐT</label>
                <input type="text" name="sdt" class="form-control" value="<%= objAdmin.phone  %>">
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" name="email" class="form-control" value="<%= objAdmin.email  %>">
            </div>
            <div class="mb-3">
                <label class="form-label">Giới tính: </label>
                <!-- <input type="text" name="gender" class="form-control" value="<%= objAdmin.gender  %>"> -->
                <select class="form-select" aria-selected="true" name="gender" id=""
                    aria-checked="<%= objAdmin.gender  %>" value="<%= objAdmin.gender  %>">
                    <option value="OTHER">OTHER</option>
                    <option value="MALE">MALE</option>
                    <option value="FEMALE">FEMALE</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Họ tên</label>
                <input type="text" name="fullname" class="form-control" value="<%= objAdmin.fullname  %>">
            </div>

            <button type="submit" class="btn btn-primary">Lưu</button>
        </form>

    </div>

</div>