<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Users</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="./user.css">

    <style>
        .header {
            height: var(--header-height);
            background-image: linear-gradient(0, rgb(104, 212, 94), #0ad50a);
        }

        .header_navbar {
            display: flex;
            justify-content: space-between;
        }

        .header_navbar-list {
            list-style: none;
            padding-left: 0;
            margin: 4px 0 0 0;
        }

        .header_navbar-item {
            margin: 0 8px;
            position: relative;
            min-height: 26px;
        }

        .item-strong {
            font-weight: 400;
        }

        .item-separate::after {
            content: "";
            display: block;
            position: absolute;
            border-left: 1px solid #70fe33;
            height: 16px;
            right: -9px;
            top: 50%;
            transform: translateY(-50%);
        }

        .header_navbar-item,
        .header_navbar-item-link {
            display: inline-block;
            font-size: 1.4rem;
            color: var(--white-color);
            text-decoration: none;
            font-weight: 300;
        }

        .header_navbar-item,
        .header_navbar-item-link,
        .nav-icon-link {
            align-items: center;
            display: inline-flex;
        }

        .header_navbar-item:hover,
        .nav-icon-link:hover,
        .header_navbar-item-link:hover {
            cursor: pointer;
            color: rgb(255, 255, 255, 0.7);
        }

        .nav-icon-link {
            color: var(--white-color);
            text-decoration: none;
        }

        .header_nav-icon {
            font-size: 1.8rem;
            margin: 0 4px;
        }

        /* comment */

        :root {
            --primary-color: #70fe33;
            --white-color: #fff;
            --black-color: #000;
            --text-color: #333;
            --navbar-height: 34px;
            --header-height: 120px;
            --header-search-height: calc(var(--header-height) - var(--navbar-height));
        }

        * {
            box-sizing: inherit;
        }

        html {
            font-size: 62.5%;
            line-height: 1.6rem;
            font-family: 'Roboto', sans-serif;
            box-sizing: border-box;
        }

        .grid {
            width: 1200px;
            max-width: 100%;
            margin: 0 auto;
        }

        .grid_full-width {
            width: 100%;
        }

        .grid_row {
            display: flex;
            flex-wrap: wrap;
            margin-left: -12px;
            margin-right: -12px;
        }

        .grid_column-2 {
            padding-left: 12px;
            padding-right: 12px;
            width: 16%;
        }

        .grid_column-10 {
            padding-left: 12px;
            padding-right: 12px;
            width: 84%;
        }

        .roboto-light {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-style: normal;
        }

        .roboto-regular {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .roboto-medium {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-style: normal;
        }

        .roboto-bold {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-style: normal;
        }

        .aTrangchu {
            text-decoration: none;
            color: #fff;
        }

        .aTrangchu:hover {
            text-decoration: underline;
            color: rgb(255, 255, 255, 0.7);
        }

        .header-with-search {
            height: var(--header-search-height);
            display: flex;
            align-items: center;
            margin: 0 8px;
        }

        .header_logo {
            width: 150px;
        }

        .header_logo-img {
            width: 50px;
        }

        .header_search {
            display: flex;
            flex: 1;
            height: 40px;
            border-radius: 2px;
            background-color: var(--white-color);
            align-items: center;
        }

        .header_bill {
            width: 150px;
            text-align: center;
        }

        .header_bill-icon {
            color: var(--white-color);
            font-size: 3rem;
        }

        .header_search-input {
            flex: 1;
            height: 100%;
            border: none;
            outline: none;
            font-size: 1.4rem;
            color: var(--text-color);
            padding: 0 16px;
            border-radius: 3px;
        }

        .header_search-btn {
            border: none;
            background-color: #54f011;
            height: 34px;
            width: 60px;
            border-radius: 3px;
            margin-right: 3px;
            outline: none;
        }

        .header_search-btn:hover {
            background-color: #70fe33;
            cursor: pointer;
        }

        .header_search-btn-icon {
            font-size: 2rem;
            color: var(--white-color);
        }

        .category {
            background-color: #F5F5F5;
            border-radius: 2px;
        }

        .category_heading {
            color: var(--text-color);
            font-size: 1.6rem;
            padding: 12px 16px;
            border-bottom: 1px solid rgb(0, 0, 0, 0.07);
        }

        .category-list {
            padding: 0 0 8px 0;
            list-style: none;
            margin-left: 10px;
        }

        .category-item_link {
            position: relative;
            padding: 4px 16px;
            font-size: 1.4rem;
            text-decoration: none;
            color: var(--text-color);
            display: block;
            transition: right linear 0.1s;
            right: 0;
        }

        .category-item_link:hover {
            right: -4px;
            color: var(--primary-color);
        }
    </style>

</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="grid">
                <nav class="header_navbar">
                    <ul class="header_navbar-list">
                        <li class="header_navbar-item">
                            <a href="/users" class="aTrangchu">Trang chủ</a>
                        </li>
                    </ul>

                    <ul class="header_navbar-list">
                        <li class="header_navbar-item">
                            <a href="#" class="header_navbar-item-link item-separate">
                                <i class='header_nav-icon bx bxs-bell'></i>
                                Thông báo</a>
                        </li>
                        <li class="header_navbar-item item-separate">
                            <a href="#" class="nav-icon-link">
                                <i class='header_nav-icon bx bxs-help-circle'></i>
                                Trợ giúp </a>
                        </li>
                        <li class="header_navbar-item item-strong item-separate">
                            <a href="/users/admin" class="aTrangchu">Tài khoản</a>
                        </li>
                        <li class="header_navbar-item item-strong">
                            <a href="/users/login" class="aTrangchu">Đăng xuất</a>
                        </li>
                    </ul>
                </nav>

                <!-- tim kiem -->
                <div class="header-with-search">
                    <div class="header_logo">
                        <a href="#">
                            <img class="header_logo-img" src="https://cdn-icons-png.flaticon.com/128/4484/4484610.png"
                                alt="Logo">
                        </a>

                    </div>
                    <div class="header_search">
                        <input type="text" class="header_search-input" placeholder="Search">
                        <button class="header_search-btn">
                            <i class='header_search-btn-icon bx bx-search-alt'></i>
                        </button>
                    </div>
                    <div class="header_bill">

                    </div>
                </div>
            </div>
        </header>

        <div class=" app_container">
            <div class="grid">
                <div class="grid_row">
                    <div class="grid_column-2">
                        <nav class="category">
                            <h3 class="category_heading">Quản lý</h3>

                            <ul class="category-list">
                                <li class="category-item category-item-active">
                                    <a href="#" class="category-item_link">Danh mục</a>
                                </li>
                                <li class="category-item">
                                    <a href="#" class="category-item_link">Thống kê</a>
                                </li>
                                <li class="category-item">
                                    <a href="#" class="category-item_link">Đơn hàng</a>
                                </li>
                                <li class="category-item">
                                    <a href="#" class="category-item_link">Bình Luận</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="grid_column-10">
                        <div class="row d-inline">

                            <div class="d-inline">

                            </div>
                            <div class="input-group ">
                                <div class="btn-group col-sm-4 col-md-2"
                                    style="background-color: #F5F5F5; margin-right: 8px;">
                                    <button type="button" class="btn">Email</button>
                                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/users/emailthapCao">A - Z</a></li>
                                        <li><a class="dropdown-item" href="/users/emailcaoThap">Z - A</a></li>

                                    </ul>
                                </div>
                                <div class="btn-group col-sm-4 col-md-2"
                                    style="background-color: #F5F5F5; margin-right: 8px;">
                                    <button type="button" class="btn">Active</button>
                                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/users/true">Hoạt động</a></li>
                                        <li><a class="dropdown-item" href="/users/false">Ngưng hoạt động</a></li>

                                    </ul>
                                </div>

                                <div class="btn-group col-sm-4 col-md-2"
                                    style="background-color: #F5F5F5; margin-right: 8px;">
                                    <button type="button" class="btn">Username</button>
                                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/users/thapCao">A - Z</a></li>
                                        <li><a class="dropdown-item" href="/users/caoThap">Z - A</a></li>

                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Username</th>
                                        <th scope="col">SĐT</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Giới tính</th>
                                        <th scope="col">trạng thái</th>
                                        <th scope="col">Điểm</th>
                                        <th scope="col">Họ tên</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% listUsers.forEach((row)=> { %>

                                        <tr>
                                            <td>
                                                <a href="users/bill/<%= row._id  %>">
                                                    <%= row.username %>
                                                </a>
                                            </td>
                                            <td>
                                                <%= row.phone %>
                                            </td>
                                            <td>
                                                <%= row.email %>
                                            </td>
                                            <td>
                                                <%= row.gender %>
                                            </td>
                                            <td>
                                                <%= row.active %>
                                            </td>
                                            <td>
                                                <%= row.points %>
                                            </td>
                                            <td>
                                                <%= row.fullname %>
                                            </td>
                                            <td>
                                                <% if (row.active) { %>
                                                    <a href="/users/ban/<%= row._id %>" style="color: #000;">
                                                        <i class='bx bxs-lock'></i>
                                                    </a>
                                                    <% } else { %>
                                                        <a href="/users/unban/<%= row._id %>">
                                                            <i class='bx bxs-lock-open'></i>
                                                        </a>
                                                        <% } %>

                                            </td>

                                        </tr>

                                        <% }) %>

                                </tbody>
                            </table>

                        </div>
                        <div class="d-inline p-2 ">Đang xem:<%= soluong %>/<%= soluong %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">

        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
</body>

</html>