<div class="container shadow my-5 px-5 py-4">
  <div class="grid_column-10">
    <div class="row d-inline">
      <div class="input-group">
        <div class="btn-group col-sm-4 col-md-2" style="background-color: #f5f5f5; margin-right: 8px">
          <button type="button" class="btn">Email</button>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false"></button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/users/emailthapCao">A - Z</a>
            </li>
            <li>
              <a class="dropdown-item" href="/users/emailcaoThap">Z - A</a>
            </li>
          </ul>
        </div>
        <div class="btn-group col-sm-4 col-md-2" style="background-color: #f5f5f5; margin-right: 8px">
          <button type="button" class="btn">Active</button>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false"></button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/users/true">Hoạt động</a>
            </li>
            <li>
              <a class="dropdown-item" href="/users/false">Ngưng hoạt động</a>
            </li>
          </ul>
        </div>

        <div class="btn-group col-sm-4 col-md-2" style="background-color: #f5f5f5; margin-right: 8px">
          <button type="button" class="btn">Username</button>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false"></button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/users/thapCao">A - Z</a>
            </li>
            <li>
              <a class="dropdown-item" href="/users/caoThap">Z - A</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <table class="table table-borderless table-striped table-hover table-response">
        <thead class="table-dark">
          <tr class="text-center">
            <th scope="col">Username</th>
            <th scope="col">SĐT</th>
            <th scope="col">Email</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Điểm</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% listUsers.forEach((row)=> { %>
            <tr>
              <td>
                <a href="/bills/<%= row._id  %>">
                  <%= row.username %>
                </a>
              </td>
              <td>
                <%= row.phone %>
              </td>
              <td>
                <%= row.email %>
              </td>
              <td>
                <%= row.gender %>
              </td>
              <td>
                <%= row.active %>
              </td>
              <td>
                <%= row.points %>
              </td>
              <td>
                <%= row.fullname %>
              </td>
              <td>
                <% if (row.active) { %>
                  <a href="/users/ban/<%= row._id %>" style="color: #000">
                    <i class="bx bxs-lock"></i>
                  </a>
                  <% } else { %>
                    <a href="/users/unban/<%= row._id %>">
                      <i class="bx bxs-lock-open"></i>
                    </a>
                    <% } %>
              </td>
            </tr>

            <% }) %>
        </tbody>
      </table>
    </div>
    <div class="d-inline p-2">Đang xem:<%= soluong %>/<%= soluong %>
    </div>
  </div>
</div>